<template id="template-contact-item">
  <li class="contacts-list-item flex gap-4 justify-between" data-editing="false">
    <div class="flex flex-wrap gap-2 grow md:flex-nowrap">
      <div class="flex flex-col grow w-full">
        <input
          class="contacts-list-item-name-input w-full outline-none rounded-md p-2 transition-all focus:outline-blue-500 focus:outline-2 focus:outline-offset-2"
          type="text"
          readonly
        />
        <p class="text-xs font-light text-red-500 dark:text-red-400 hidden mt-1">
          Tiene que tener nombre y apellido. <br />
          Ambos comienzan con mayúsculas.
        </p>
      </div>

      <div class="flex flex-col grow w-full">
        <input
          class="contacts-list-item-phone-input w-full rounded-md p-2 transition-all focus:outline-blue-500 focus:outline-2 focus:outline-offset-2"
          type="text"
          readonly
        />
        <p class="text-xs font-light text-red-500 dark:text-red-400 hidden mt-1">
          Tiene que ser un número venezolano válido.
        </p>
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <button
        class="edit-btn w-8 h-8 flex items-center justify-center text-xl hover:text-indigo-600 transition-colors"
      >
        <ion-icon name="create-outline"></ion-icon>
      </button>
      <button
        class="delete-btn w-8 h-8 flex items-center justify-center text-xl hover:text-red-600 transition-colors"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </button>
    </div>
  </li>
</template>
