<form
  id="main-form"
  class="p-2 rounded-md border border-gray-400 flex flex-col gap-4 md:w-[70%] lg:w-[50%]"
>
  <div class="flex flex-col gap-2">
    <label for="name-input" class="font-medium">Nombre</label>
    <input
      type="text"
      name="name-input"
      id="name-input"
      class="outline outline-gray-400 rounded-md p-2 transition-colors focus:outline-blue-500 focus:outline-2 focus:outline-offset-2"
      placeholder="Gabriel Garcia"
    />
    <p class="text-xs font-light text-red-500 dark:text-red-400 hidden"></p>
  </div>

  <div class="flex flex-col gap-2">
    <label for="phone-input" class="font-medium">Número</label>
    <input
      type="text"
      name="phone-input"
      id="phone-input"
      class="outline outline-gray-400 rounded-md p-2 transition-colors focus:outline-blue-500 focus:outline-2 focus:outline-offset-2"
      placeholder="04122110509"
    />
    <p class="text-xs font-light text-red-500 dark:text-red-400 hidden"></p>
  </div>

  <button
    disabled
    id="main-form-btn"
    class="bg-indigo-700 py-2 px-4 text-white text-center uppercase font-medium rounded-md disabled:opacity-50 disabled:cursor-not-allowed"
  >
    Crear
  </button>
</form>

<script>
  import contactsService from './contactService';
  import { createContactSchema } from './schemas';
  import { showToast } from '../../components/notification/notification';

  // Selectors
  const form = document.querySelector('#main-form');
  const inputName = document.querySelector('#name-input');
  const inputPhone = document.querySelector('#phone-input');
  const formButton = document.querySelector('#main-form-btn');

  // Handlers
  const handleStateInput = (input, isInvalid, textError) => {
    const helperText = input.nextElementSibling;
    helperText.innerHTML = textError;

    if (!input.value) {
      input.classList.remove('outline-red-500', 'outline-green-500');
      input.classList.add('outline-gray-400');
      helperText.classList.add('hidden');
    } else if (isInvalid) {
      input.classList.add('outline-red-500');
      input.classList.remove('outline-green-500', 'outline-gray-400');
      helperText.classList.remove('hidden');
    } else {
      input.classList.add('outline-green-500');
      input.classList.remove('outline-red-500', 'outline-gray-400');
      helperText.classList.add('hidden');
    }
  };

  const handleFormBtnState = () => {
    const { success } = createContactSchema.safeParse({
      name: inputName.value,
      phone: inputPhone.value,
    });
    if (success) {
      formButton.disabled = false;
    } else {
      formButton.disabled = true;
    }
  };

  inputName.addEventListener('input', () => {
    const { error } = createContactSchema.safeParse({ name: inputName.value });
    const fieldErrors = error.flatten().fieldErrors;
    const isInvalid = fieldErrors?.name ? true : false;
    const textError = fieldErrors?.name?.[0];
    handleStateInput(inputName, isInvalid, textError);
    handleFormBtnState();
  });

  inputPhone.addEventListener('input', () => {
    const { error } = createContactSchema.safeParse({ phone: inputPhone.value });
    const fieldErrors = error.flatten().fieldErrors;
    const isInvalid = fieldErrors?.phone ? true : false;
    const textError = fieldErrors?.phone?.[0];
    handleStateInput(inputPhone, isInvalid, textError);
    handleFormBtnState();
  });

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    const { success } = createContactSchema.safeParse({
      name: inputName.value,
      phone: inputPhone.value,
    });
    if (!success) return;

    contactsService.addContact({ name: inputName.value, phone: inputPhone.value });

    showToast({ text: `Contacto "${inputName.value}" creado exitosamente`, type: 'success' });
    form.reset();
    handleStateInput(inputName);
    handleStateInput(inputPhone);
    handleFormBtnState();
  });
</script>
